
@tailwind base;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-mono;
  }
  h1, h2, h3, h4, h5, h6, strong, th, .font-medium {
    font-weight: 700;
  }
  /* Make all Lucide icons thinner by default */
  svg[data-lucide] {
    stroke-width: 1.25;
  }
}

/* Add backdrop blur for when the profile modal is active */
.DialogOverlay {
  backdrop-filter: blur(1.5px);
  background-color: rgba(0, 0, 0, 0.1) !important;
}
